@import "size";
@import "font";
@import "line-height";
@import "image";

.is-btn:hover {
  cursor: pointer;
}

.btn-list-horizontal {
  .btn + .btn {
    margin-left: .5rem;
  }
}
.vis-hidden {
  position: absolute;
  visibility: hidden;
}

.no-outline {
  outline: none;
}

.flex-center {
  justify-content: center;
  align-items: center;
}
