section {
  padding: 2rem 0 3rem;
  position: relative;
  .section-title {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    
    .title {
      position: relative;
      font-weight: bold;
      font-size: 1.4rem;

      @include media-breakpoint-up(md) {
        font-size: 1.5rem;
      }
      
    }
  }
}